<config>    <global>	<models>        <observers>             <class>Milka_LuxuryTax_Model</class>        </observers>    </models>		<events>			<sales_quote_collect_totals_after>            <observers>                <specsale>                    <type>singleton</type>                    <class>Milka_LuxuryTax_Model_Observer</class>                    <method>check_subtotal</method>                </specsale>            </observers>			</sales_quote_collect_totals_after>		</events>    </global></config>